@media (min-width: 768px){
    .me-md-auto {
        margin-right: auto!important;
    }

    .me-md-3 {
        margin-right: 1rem!important;
    }

    .my-md-0 {
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
}

.uniform-card {
    height: calc(100% - 1.5rem);
}